<!DOCTYPE html>

<html>
    <head>
        <!--NON TE SCORDA DE STA RIGA DE CODICE, CHE NON RIESCE A CODIFICARE-->
        <meta charset="utf-8"> 
        <title>
            Registrazione nuova ricetta
        </title>

    </head>

    <body>
        
        
        <h1>
            Inserire i dati e cliccare "conferma" per inserire la nuova ricetta
        </h1>

        <form th:action="@{/ricetta/aggiunta}" method = "POST" th:object="${ricetta}"> 
            <div>
                <span th:text="${messaggioErrore}"> ERRORE </span>
            </div>
            <div>
                Nome: 
                <span>
                    <input required type="text" th:field="*{nome}"/>
                </span>
            </div>
            <div>
                Descrizione:
                <span>
                    <input type="text" th:field="*{descrizione}"/>
                </span>
            </div>
            <div>
                <label for="pathFoto"> Immagine: </label>
                <input type="text" id="pathFoto" th:field="*{pathFoto}"/> 
           </div>
           <div>
                <span>
                    <button type="submit">
                        Conferma
                    </button>
                </span>
           </div>
        </form>


    </body>


</html>