<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Modifica Ricetta</title>
</head>
<body>
    <h1>Modifica la scheda della ricetta</h1>
    <form th:action="@{/admin/editRicetta/{ricetta_id}/(ricetta_id=${ricetta.id})}" th:object="${ricetta}" method="post">
        <div>
            <label for="nome">Modifica nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />
        </div>
        <div>
            <label for="descrizione">Modifica descrizione:</label>
            <input type="text" id="descrizione" th:field="*{descrizione}" />
        </div>
        <div>
            <a th:href="@{/admin/aggiungiIngrediente/{ricetta_id}(ricetta_id=${ricetta.id})}">Aggiungi ingrediente</a>
        </div>
        <div>
            <button type="submit">Conferma modifiche</button>
        </div>
    </form>
</body>
</html>-->

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Modifica ricetta</title>
</head>

<body>
    <a th:href="@{/ricette/{ricetta_id}(ricetta_id=${ricetta.id})}">Torna ai dettagli della ricetta</a>
    
    <h1>Modifica i dettagli della Ricetta</h1>

    <div>
        <h2 th:text="${ricetta.nome}">Nome della Ricetta</h2>
        <p th:text="${ricetta.descrizione}">Descrizione della Ricetta</p>
    </div>

    <div>
        <h3>Ingredienti</h3>
        <ul>
            <li th:each="ingrediente : ${ricetta.ingredienti}">
                <span th:text="${ingrediente.nome}">Nome Ingrediente: </span>
                <span th:text="${ingrediente.quantita}">Quantità Ingrediente</span>
                <a th:href="@{/admin/rimuoviIngrediente/{ingrediente_id}(ingrediente_id=${ingrediente.id})}">Rimuovi</button>
            </li>
        </ul>
    </div>
    
    <h1>Aggiorna Ricetta</h1>
    <form th:action="@{/admin/editRicetta/{id}(id=${ricetta.id})}" enctype="multipart/form-data" method="post"
        th:object="${ricetta}">
        <input type="hidden" th:field="*{cuoco}" />
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>
        <div>
            <label for="descrizione">Descrizione:</label>
            <input type="text" id="descrizione" th:field="*{descrizione}" required>
        </div>

        <div>
            <label for="immagine">Immagine:</label>
            <input type="file" id="immagine" name="immagine" accept="image/*" required>
        </div>
        <div>
            <img th:if="${ricetta.hasImages() == true}"
                th:src="'data:image/jpeg;base64,' + ${ricetta.getFirstImmagine().getBase64()}" width="30%" />
        </div>
        <button type="submit">Aggiorna</button>
    </form>

    <h1>Aggiungi Ingrediente</h1>
    <form th:action="@{/admin/aggiungiIngrediente/{ricetta_id}(ricetta_id=${ricetta.id})}" enctype="multipart/form-data" method="post"
        th:object="${nuovoIngrediente}">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>
        <div>
            <label for="Quantità">Quantità:</label>
            <input type="text" id="Quantità" th:field="*{quantita}" required>
        </div>
        <button type="submit">Aggiungi</button>
    </form>


</body>

</html>
