<!DOCTYPE html>

<html>
    
    
    <head>
        <meta charset="utf-8">
        <title>Aggiungi allergene</title>
        
    </head>
    
    <body>
        <a th:href="@{/admin/ingredienti/{ingrediente_nome}(ingrediente_nome=${ingredienti[0].nome})}">Torna alla scheda dell'ingrediente</a>
        <form th:action="@{/admin/aggiungiAllergene/{ingrediente_nome}(ingrediente_nome = ${ingredienti[0].nome})}" th:object ="${allergene}" method ="post">
            <div>
                <label for="nome">Allergene:</label>
                <input type="text" id="nome" th:field="*{nome}"/>
            </div>
            <div>
                <button type = "submit">Aggiungi</button>
            </div>
        </form>
    
    </body>



</html>