<!DOCTYPE html>

<html>
    <head>
        <!--NON TE SCORDA DE STA RIGA DE CODICE, CHE NON RIESCE A CODIFICARE-->
        <meta charset="utf-8"> 
        <title>
            Registrazione nuova ricetta
        </title>
        <link rel="stylesheet" href="/css/style.css" /> 

    </head>

    <body>
        <div class="container">
            <div class="navigation-index-links"><a class="navigation-index-links" th:href="@{/cuochi/{cuoco_id}(cuoco_id = ${cuoco.id})}">Torna alla scheda del cuoco</a></div>
            
            
            <h1 class="index-header">Inserire i dati e cliccare "conferma" per inserire la nuova ricetta</h1>

            <form th:action="@{/admin/addRicetta/{cuoco_id}(cuoco_id=${cuoco.id})}" enctype="multipart/form-data" method = "POST" th:object="${ricetta}">
                <div class="column">
                    <div class="form-window">
                        <label for="nome">Nome:</label>
                        <input required type="text" th:field="*{nome}"/>
                    </div>
                    <div class="form-window">
                        <label for="descrizione">Descrizione:</label>
                        <input required type="text" th:field="*{descrizione}"/>
                    </div>
                    <div class="form-window">
                        <label for="immagine">Immagine:</label>
                        <input type="file" id="immagine" name="immagine" accept="image/*">
                    </div>
                    <div class="submit">
                        <button type="submit">Conferma</button>
                    </div>

                <div>

            </form>

        </div>

    </body>


</html>