<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Cuoco</title>
    </head>

    <body>
        <h1 th:unless="${cuoco}"> Non esistente </h1>
        


        <div>
            <a th:href="@{/admin/editCuoco/{cuoco_id}(cuoco_id=${cuoco.id})}">Modifica il profilo di questo cuoco</a>
        </div>

        <div>
            <a th:href="@{/admin/deleteCuoco/{cuoco_id}(cuoco_id=${cuoco.id})}">Cancella il profilo del cuoco</a>
        </div>


        <div th:if="${cuoco}">
            <h1 th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"> Dettagli Cuoco </h1>
            <div th:if="${cuoco}">
                <p th:text="'(' + 'nato il:' + ' ' + ${cuoco.dataNascita} +')'"></p>
            </div>
        </div>

        <div>
            <h2>Ricette proposte dal cuoco</h2>
            <div th:if="${cuoco.ricette.isEmpty()}">
                <p>Il cuoco non ha ancora proposto alcuna ricetta</p>
            </div>
            <ul th:unless="${cuoco.ricette.isEmpty()}">
                 <li th:each="ricetta : ${cuoco.ricette}">
                    <a th:href="@{/ricette/{ricetta_id}(ricetta_id=${ricetta.id})}" th:text="${ricetta.nome}"></a>
                    <span th:text="' - ' + ${ricetta.descrizione}"></span>
                </li>
            </ul>
            <a th:href="@{/admin/addRicetta/{cuoco_id}(cuoco_id=${cuoco.id})}">Assegna una nuova ricetta a questo cuoco</a>

        </div> 
        <div>
            <span th:if="${messaggioErrore}" th:text="${messaggioErrore}"></span>
        </div>


    </body>
    
</html>