<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Cuoco</title>
    </head>

    <body>
        <h1 th:unless="${cuoco}"> Non esistente </h1>
        
        <div th:if="${cuoco}">
            <h1 th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"> Dettagli Cuoco </h1>
            <div th:if="${cuoco}">
                <span th:text="'(' + ${cuoco.dataNascita} +')'"></span>
                <span> <img width="25%" th:src="${cuoco.pathFoto}"/> </span>
            </div>
            <div>
                <a th:href="@{/formNuovaRicetta}">Inserisci una nuova ricetta</a>
            </div>
        </div> 


    </body>
    
</html>