<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> 
            Cuochi   
        </title> 
    </head>

    <body>
        <a href="/">HOME</a>

        
        <h1>Lista Cuochi trovati:</h1>
        
        <div>
            <a href="/admin/addCuoco">Inserisci un nuovo cuoco</a>
        </div>
        <div>
            <a href="/cuochi/search">Cerca cuochi per nome e cognome</a>
        </div>

        <div>
            <span th:if="${messaggioErrore}" th:text="${messaggioErrore}"></span>
        </div>
        <ul>
            <li th:each="cuoco : ${cuochi}">

                <a 
                    th:href="@{/cuochi/{cuoco_id}(cuoco_id=${cuoco.id})}">
                        <span 
                            th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}">
                        </span>
                </a>
            </li>
        </ul>
    </body>


</html>