<!--DOVREBBE NON SERVIRE, SENTI LIPPU-->

<!DOCTYPE html>
<html>

    <head>
        <title>Cuochi trovati</title>
    </head>

    <body>
        <h1>Cuochi trovati</h1>
        <ul>
            <div th:if="${cuochi}">
                <li th:each="cuoco : ${cuochi}">
                    <p>
                        Nome: <span th:text = "${cuoco.nome}"></span>
                    </p>
                    <p>
                        Cognome: <span th:text = "${cuoco.cognome}"></span>
                    </p>
                    <p>
                        Data di nascita <span th:text = "  {}"></span>
                    </p>
                </li>
            </div>
        </ul>

    </body>

</html>



