<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${error}">Errore</title>
    <link rel="stylesheet" href="/css/style.css" />


</head>

<body>

    <div class="container">
        <div class="navigation-index-links">
            <a class="navigation-index-links" href="/">Torna alla home</a>
        </div>

        <h1 class="index-header">Impossibile effettuare l'operazione desiderata</h1>
        <p class="smaller-index-header" th:text="${error}">
            </pth:>
    </div>

</body>

</html>