<!DOCTYPE html>

<html>
    <head>

        <title>
            Nuovo Cuoco
        </title>

    </head>

    <body>
        
        
        <h1>
            Registra un cuoco
        </h1>

        <form th:action="@{/cuoco}" method = "POST" th:object="${/cuoco}"> 
            <div>
                <span th:text="${messaggioErrore}"> ERRORE </span>
            </div>
            <div>
                Nome: <span>
                            <input required type="text" th:field="${cuoco.nome}"/>
                        </span>
            </div>
            <div>
                Cognome: <span>
                            <input required type="text" th:field="${cuoco.cognome}"/>
                        </span>
            </div>
            <div>
                 <label for="dataNascita"> Data di Nascita: </label>
                 <input type="date" id="dataNascita" th:field="*{dataNascita}"/> 
            </div>
            <div>
                <label for="urlFoto"> Immagine: </label>
                <input type="text" id="urlFoto" th:field="*{urlFoto}"/> 
           </div>
           <div>
                <span>
                    <button type="submit">
                        Conferma
                    </button>
                </span>
           </div>
        </form>


    </body>


</html>