<!DOCTYPE html>
<html lang="it">

    <head>
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/style.css" />
        
        <title> 
            SiwFood    
        </title> 

        
    </head>


    <body>


        
        <div class="container">
            
            <div class="column">

                <div class="row">
                    
                    <div class="index-links-auth" th:if="${userDetails}">
                        <a href="/logout">Logout</a>
                    </div>
                    <div class="index-links-auth">
                        <a href="/login">Login</a>
                    </div>
                    <div class="index-links-auth">
                        <a href="/register">Registrati</a>
                    </div>
                    
                </div>
                
                <h1 class="index-header">Consulta</h1>

                <div class="row">
                        
                        <div class="index-links">
                            <a href="/cuochi">Cuochi</a>
                        </div>

                        <div class="index-links">
                            <a href="/ricette">Ricette</a>
                        </div>

                        <div class="index-links" th:if="${userDetails != null && credenziali.isAdmin()}">
                            <a href="/admin/ingredienti">Ingredienti</a>
                        </div>

                        <div class="error-message">
                            <span th:if="${messaggioErrore}" th:text="${messaggioErrore}"></span>
                        </div>
                
                </div>

            </div>

        </div>

      </body>
      
      </html>