<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> 
            SiwFood    
        </title> 
    </head>

    <body>
        <div>
            <a href="/auth/accedi">ACCEDI</a>
        </div>
        <div>
            <a href="/auth/registrati">REGISTRATI</a>
        </div>

        <h1>
            Consulta
        </h1>
        <div>
            <a href="cuochi">
                Cuochi
            </a>
        </div>
        <div>
            <a href="ricette">
                Ricette
            </a>
        </div>
    </body>


</html>