<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>Ingredienti sul sito</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <div class ="container">
            <div class="navigation-index-links"><a class="navigation-index-links" href="/">HOME</a></div>

            <div class="index-links">
                <a href="/admin/ingredienti/search">Cerca ingrediente per nome</a>
            </div>

            <h1 class="index-header">Lista Ingredienti</h1>

            <div class="error-message">
                <span th:if="${messaggioErrore}" th:text="${messaggioErrore}"></span>
            </div>
            <div class="column">
                <ul>
                    <li class="menu-index-links" th:each="ingrediente : ${ingredienti}">
                        <span>
                            <a th:href="@{/admin/ingredienti/{ingrediente_nome}(ingrediente_nome=${ingrediente.nome})}" th:text="${ingrediente.nome}"></a>
                        </span>
                        <span>
                            <a th:href="@{/admin/deleteIngrediente/{ingrediente_nome}(ingrediente_nome = ${ingrediente.nome})}">Rimuovi ingrediente dal sistema</a>
                        </span>
                    </li>
                </ul>
            </div>

        </div>

    </body>
    
   


</html>

