<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> 
            Ricette   
        </title> 
    </head>

    <body>
        <a href="/">HOME</a>

        <h1>Lista Ricette</h1>

        <div>
            <a href="/ricette/search">Cerca ricette per nome</a>
        </div>

        <div
            th:if="${ricette == null || ricette.isEmpty()}">
            Non ci sono ricette nel sistema
        </div>
        <ul>
            <li th:each="ricetta : ${ricette}">
                <a th:href="@{/ricette/{ricetta_id}(ricetta_id=${ricetta.id})}">
                   <span th:text="${ricetta.nome}"></span>
                </a>
                <p th:text="${ricetta.descrizione}"></p>
            </li>
        </ul>

                <div>
            <span th:if="${messaggioErrore}" th:text="${messaggioErrore}"></span>
        </div>
    </body>


</html>