<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> 
            Ricette   
        </title> 
        <link rel="stylesheet" href="/css/style.css" />

    </head>

    <body>
        <div class ="container">
            <div class="navigation-index-links"><a class="navigation-index-links" href="/">HOME</a></div>

            <h1 class="index-header">Lista Ricette</h1>

            <div class="index-links">
                <a href="/ricette/search">Cerca ricette per nome</a>
            </div>

            <div th:if="${ricette == null || ricette.isEmpty()}">
                Non ci sono ricette nel sistema
            </div>
            <div class="column">
                <ul>

                        <li  class="menu-index-links" th:each="ricetta : ${ricette}">
                            <a th:href="@{/ricette/{ricetta_id}(ricetta_id=${ricetta.id})}">
                                <span th:text="${ricetta.nome}"></span>
                            </a>
                            <p th:text="${ricetta.descrizione}"></p>
                        </li>
                    
                </ul>
            </div>

            <div>
                <span th:if="${messaggioErrore}" th:text="${messaggioErrore}"></span>
            </div>

        </div>
    </body>


</html>