<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title> 
            Ricette   
        </title> 
    </head>

    <body>
        <h1>Lista Ricette</h1>

        <div>
            <a href="/ricette/cercaRicette">Cerca ricette per nome</a>
        </div>
        <div>
            <a href="/admin/aggiungiRicetta">Aggiungi ricetta nel sistema</a>
        </div>

        <div
            th:if="${ricette == null || ricette.isEmpty()}">
            Non ci sono ricette nel sistema
        </div>
        <ul>
            <li th:each="ricetta : ${ricette}">
                <div>
                    <!--<img th:src="@{${ricetta.pathFoto}}" width="10%">-->
                </div>
                <a th:href="@{/ricetta/{id}(id=${ricetta.id})}">
                   <span th:text="${ricetta.nome}"></span>
                </a>
            </li>
        </ul>
    </body>


</html>