<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <div>
        <a href="/">HOME</a>

        <h1>Login</h1>

        <form th:action="@{/login}" id="login" method="POST">

            <div>
                <label for="username" th:text="'Username'"></label>
                <input name="username" id="username" type="text" required>
            </div>
            <div>
                <label for="password" th:text="'Password'"></label>
                <input name="password" id="password" type="password" required>
            </div>
            <div>
                <span th:if="${param.error != null}" th:text="'Username o password errati'"></span>
            </div>
            <div>
                <button type="submit" th:text="'Accedi'"></button>
            </div>
        </form>
    </div>
</body>

</html>